.input-error {
  height: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
  margin: 0;
  background-color: tomato;
  font-weight: bold;
  color: #373737;
  margin: -10px auto 0;
  width: 80%;
}